
/*
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.modal {
  background: var(--blanco);
  padding: 2.5rem;
  border-radius: 35px;
  width: 34rem;
  height: auto;
  box-shadow: 0 0px 20px rgba(0, 0, 0, 0.72);
}

.tituloPrincipal {
  text-align: center;
  color: var(--azul-oscuro);
  font-size: var(--H4);
  font-weight: 500;
  line-height: 1.5;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  font-family: var(--fuente-principal);
  margin-bottom: 1rem;
}

.tituloRedibo {
  color: var(--naranja);
  font-weight: var(--tamaño-black);
  font-size: var(--H2);
  text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.3);
  font-family: var(--fuente-principal);
}

.tituloAzul {
  color: var(--azul-oscuro);
  font-weight: var(--tamaño-regular);
  font-size: var(--H4);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  font-family: var(--fuente-principal);
  text-transform: uppercase;
}

.inputBase {
  margin-bottom: 1.5rem;
  border: 2px solid var(--negro);
  border-radius: 0.5rem;
  display: flex;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

.iconoCorreo {
  color: var(--azul-oscuro);
  width: 30px;
  height: 30px;
  margin: 1rem 0 1rem 1rem;

}
.textoCC {
  font-family: var(--fuente-principal);
  color: var(--azul-oscuro);
  font-size: 0.8rem;
  font-weight: var(--tamaña-bold);
  text-indent: 1rem;
  margin-top: 0.5rem;
}

.iconoContrasena {
  color: var(--azul-oscuro);
  width: 30px;
  height: 30px;
  margin: 1rem 0 1rem 1rem;

}
.input {
  width: 100%;
  height: 1rem;
  padding: 1rem;
  border-radius: 0.5rem;
  //font-size: 0.95rem;
  font-family: var(--fuente-principal);
  font-weight: var(--tamaña-bold);
  color: var(--azul-oscuro);
  outline: none;
}

.input::placeholder {
  color: var(--azul-oscuro);
  opacity: 0.5;
  font-family: var(--fuente-principal);
}

.button {
  width: 100%;
  padding: 1.0rem;
  background-color: rgba(252, 163, 17, 0.5);
  box-shadow: 0 0px 4px rgba(0, 0, 0, 0.25);
  color: var(--blanco);
  border: none;
  border-radius: 40px;
  cursor: pointer;
  margin-top: 1rem;
}

.close {
  color: var(--azul-oscuro);
  width: 100%;
  cursor: pointer;
  font-weight: var(--tamaño-black);
  height: 30;
  display: block;
  margin-left: auto;
  width: fit-content;
}

.recuperarContrasena {
  background: none;
  border: none;
  color: var(--azul-oscuro);
  text-decoration: underline;
  cursor: pointer;
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  transition: color 0.2s;
}
.recuperarContrasena:hover {
  color: var(--naranja);
}

.text1 {
  text-align: center;
  color: var(--azul-oscuro);
}
.registrarse {
  text-decoration: underline;
  cursor: pointer;
  transition: color 0.2s;
}
.registrarse:hover {
  color: var(--naranja);
}
*/
