
  :root {
    --negro: #000000;
    --azul-oscuro: #11295B;
    --naranja: #FCA311;
    --naranja-46: rgba(252, 163, 17, 0.46);
    --hueso: #E4D5C1;
    --blanco: #FFFFFF;
    --rojo: #F85959;
    --verde: #219653;
    --fuente-principal: 'Inter', sans-serif;
    --tamaña-bold: bold;
    --tamaño-regular: 500;
    --tamaño-black: 900;
    --sombra: 0px 4px 3px rgba(1, 0, 0, 0.165);
    --H1: 2.488rem;
    --H2: 2.074rem;
    --H3: 1.728rem;
    --H4: 1.44rem;
    --H5: 1.2rem;
  }
  
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }
  
  .modal {
    background: var(--blanco);
    padding: 2.5rem;
    border-radius: 35px;
    width: 33rem;
    height: auto;
    box-shadow: 0 0px 20px rgba(0, 0, 0, 0.72);
  }
  
  .tituloPrincipal {
    text-align: center;
    color: var(--azul-oscuro);
    font-size: var(--H4);
    font-weight: 500;
    line-height: 1.5;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    font-family: var(--fuente-principal);
    margin-bottom: 1rem;
  }
  
  .tituloRedibo {
    color: var(--naranja);
    font-weight: var(--tamaño-black);
    font-size: var(--H2);
    text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.3);
    font-family: var(--fuente-principal);
  }
  
  .modal p {
    font-size: 0.9rem;
    margin-bottom: 1.5rem;
    color: #000000;
  }
  .textofuera {
    margin-bottom: 2rem;
    border: 2px solid var(--azul-oscuro);
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
  }
  
  /*.textoinputfuera {
    font-family: var(--fuente-principal);
    color: var(--azul-oscuro);
    font-size: 0.8rem;
    font-weight: var(--tamaña-bold);
    text-indent: 3.1rem;
    
  }*/
  .input {
    width: 100%;
    height: 1rem;
    padding: 1rem;
    border-radius: 1rem;
    /*font-size: 0.95rem;*/
    font-family: var(--fuente-principal);
    font-weight: var(--tamaña-bold);
    color: var(--azul-oscuro);
    outline: none;
  }
  
  .input::placeholder {
    color: var(--azul-oscuro);
    opacity: 0.5;
    font-family: var(--fuente-principal);
  }
  
  .button {
    width: 100%;
    padding: 1.0rem;
    background-color: rgba(252, 163, 17, 0.5);
    box-shadow: 0 0px 4px rgba(0, 0, 0, 0.25);
    color: var(--blanco);
    border: none;
    border-radius: 40px;
    cursor: pointer;
    margin-top: 1rem;
  }
  
  .close {
    text-align: center;
    color: var(--azul-oscuro);
    width: 100%;
    cursor: pointer;
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-decoration: underline;
  }
  
  .close:hover {
    background: none;
    border: none;
    color: var(--azul-oscuro);
    cursor: pointer;
    width: 100%;
    transition: color 0.2s;
  }

  