.wrapper {
  background: var(--blanco);
  font-family: var(--fuente-principal);
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 0px 0px 20px 20px;
}

.scrollContainer span {
  color: var(--negro);
}

.active {
  color: var(--naranja);
  font-weight: var(--tamaña-bold);
  text-decoration: underline;
}

.arrow {
  background: var(--blanco);
}

.filtros {
  background: var(--naranja);
  color: var(--blanco);
  font-weight: var(--tamaña-bold);
  box-shadow: var(--sombra);
}
