
:root {
  --negro: #000000;
  --azul-oscuro: #11295B;
  --naranja: #FCA311;
  --naranja-46: rgba(252, 163, 17, 0.46);
  --hueso: #E4D5C1;
  --blanco: #FFFFFF;
  --rojo: #F85959;
  --verde: #219653;
  --fuente-principal: 'Inter', sans-serif;
  --tamaña-bold: bold;
  --tamaño-regular: 500;
  --tamaño-black: 900;
  --sombra: 0px 4px 3px rgba(1, 0, 0, 0.165);
}

.wrapper {
  background: var(--blanco);
  font-family: var(--fuente-principal);
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 0px 0px 20px 20px;
}

.scrollContainer span {
  color: var(--negro);
}

.active {
  color: var(--naranja);
  font-weight: var(--tamaña-bold);
  text-decoration: underline;
}

.arrow {
  background: var(--blanco);
}

.filtros {
  background: var(--naranja);
  color: var(--blanco);
  font-weight: var(--tamaña-bold);
  box-shadow: var(--sombra);
}
