:root {
  --negro: #000000;
  --azul-oscuro: #11295B;
  --naranja: #FCA311;
  --naranja-46: rgba(252, 163, 17, 0.46);
  --hueso: #E4D5C1;
  --blanco: #FFFFFF;
  --rojo: #F85959;
  --verde: #219653;
  --fuente-principal: 'Inter', sans-serif;
  --tamaña-bold: bold;
  --tamaño-regular: 500;
  --tamaño-black: 900;
}
.footer {
  padding: 1rem;
  background: #e5d6c2;
  text-align: right;
  font-family: 'Inter', sans-serif;
}

.terms {
  color: black;
  text-decoration: underline;
  cursor: pointer;
}
